<body>
    <div>
        <h1>
            Gauge
        </h1>
    </div>
    <div>
        <canvas id="glCanvas"></canvas>
    </div>
</body>

<script src="/scripts/lullaby.js"></script>

<script>

    var area1 = {
        degrees: 60,
        fillColor: { r: 0.047, g: 0.596, b: 0.592, a: 1.0 },
    };

    var area2 = {
        degrees: 60,
        fillColor: { r: 0.972, g: 0.815, b: 0.325, a: 1.0 },
    }

    var area3 = {
        degrees: 60,
        fillColor: { r: 0.792, g: 0.301, b: 0.2, a: 1.0 },
    }

    var options = {
        width: 400,
        height: 200,
        clearColor: {r: 0.9, g: 0.9, b: 0.9, a: 1.0},
        radius: 300,
        innerRadius: 170,
        initialRotation: -90,
        center: { x: 0.0, y: -0.8 },
        areasSeparation: 2,
        areas: [area1, area2, area3],
    };

    lullaby.createGaugeChart('glCanvas', options);

</script>